body{
  display: flex;
  font-size:16px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  min-height: 100vh;
}
h2{
  font-size: 29px;
  font-weight: 400;
  margin-bottom: 10px;
}
input, textarea{
  padding:5px;
  width: 100%;
  max-width: 750px;
  font-size: 16px;
  text-align: center;
  margin-bottom:10px
}
textarea{
  height:115px;
}
a{
  color:#333;
}

#result{
  word-break: break-all;
}
